{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
<div class="container">
   
   <div class="row detail">
               <div class="col-xs-4 item-photo">
                    <img style="max-width:100%;" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" />
                </div>
                <div class="col-xs-5" style="border:0px solid gray">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h4>{{ product.name }}</h4>    
                    <h5 <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h5>
        
                    <!-- Precios -->
                    <h5 class="title-price"><small>Giá Tiền: {{ product.price }}.000 VNĐ</small></h5>
					
					<h5 class="title-price"><small>Size: Free</small></h5>
        
                    <!-- Detalles especificos del producto -->
                    <div class="section">                  
                        <div>
                            <div class="attr" style="width:25px;background:#5a5a5a;"></div>
                            <div class="attr" style="width:25px;background:white;"></div>
                        </div>
                    </div>
					<h5>
					<small>
					<form class="detail-form" action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_product_form }}
								<div class="button-border-top">
                                <input type="submit" value="add to cart" class="btn btn-success detail-button">
								</div>
                    </form>
					</small>
					</h5>
                                  
        
                    <!-- Botones de compra -->
                                                        
                </div>                              
        
                <div class="col-xs-9">
                    <div style="width:100%;border-top:1px solid silver">
                        <p style="padding:15px;">
                            <small>
							{{ product.description|safe|linebreaksbr }}
                            </small>
                        </p>
                    </div>
                </div>		
            </div>
			
			
			
			
</div>

{% endblock %}