{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Checkout
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
				<h4 class="page-header">Thanh toán sau khi nhận hàng</h4>
                <form action="." method="post" class="form-horizontal">
				<div class="form-group">
				
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
					<tr>
					<label class="col-sm-2 control-label">{{ field.label_tag }}</label>
					<td>
				<div class="col-sm-10">
					{{ field.errors }}
					{{ field }}
					{{ field.help_text }}
					</td>
					</tr>
				</div>
					{% endfor %}
				</div>
                    <input type="submit" class="btn btn-primary" value="Submit order">
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Your Order
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>{{ item.total_price }} VNĐ</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">Total Cost: {{ cart.get_total_price }} VNĐ</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}